<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-straighten" xml:lang="sv">
      
    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Räta ut en bild så att dess horisont blir rak.</desc>
        
   	<link type="next" xref="edit-undo"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Josef Andersson</mal:name>
      <mal:email>josef.andersson@fripost.org</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>
    
    	<title>Räta ut bilder</title>
    	
<p>Verktygen för att räta ut bilder låter dem rätas ut och plattas till. Verktyget för att räta ut är endast tillgängligt i helskärms- eller helfönsterläge.</p>

 <steps>
     <item>
      <p>Klicka <gui>Räta ut</gui>. Skjutreglaget för att räta ut visas. Alternativt, använd tangentbordskombinationen <keyseq><key>Ctrl</key><key>A</key></keyseq>.</p>
     </item>
     <item>
      <p>Dra i skjutreglaget för att uppnå önska grad av uträtning.</p>
     </item>
     <item>
      <p>Tryck <gui>Räta ut</gui> när klar.</p>
     </item>
 </steps>

</page>
