<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-redeye" xml:lang="de">

    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Korrigieren Sie Fotos mit roten Augen, die durch den Kamerablitz verursacht wurden.</desc>
        
        <link type="next" xref="edit-rotate"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009, 2016-2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2014, 2016, 2017</mal:years>
    </mal:credit>
  </info>

	<title>Rote Augen entfernen</title>

    <p>Rote Augen erscheinen durch einen Reflex des Kamerablitzes auf der Netzhaut des Auges. Um dies in einem Foto zu korrigieren, verwenden Sie das Rote-Augen-Entfernungswerkzeug.</p>
    <steps>
     <item>
      <p>Klicken Sie auf <gui>Rote Augen</gui>. Ein Kreis erscheint im Foto.</p>
     </item>
     <item>
      <p>Ziehen Sie den Kreis über das betroffene Auge und passen Sie dessen Größe mit dem Schieberegler an. Klicken Sie dann auf <gui>Anwenden</gui> und die Rötung wird entfernt.</p>
     </item>
     <item>
      <p>Wiederholen Sie diesen Vorgang für alle roten Augen in Ihrem Foto. Klicken Sie auf <gui>Schließen</gui>, wenn Sie fertig sind.</p>
     </item>
    </steps>
</page>
