<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="other-plugins" xml:lang="de">

    <info>
        <link type="guide" xref="index#other"/>
        <desc>Die Funktionalität von Shotwell dynamisch erweitern.</desc>
        
        <link type="next" xref="other-missing"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009, 2016-2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2014, 2016, 2017</mal:years>
    </mal:credit>
  </info>

	<title>Erweiterungen</title>
        <p>Shotwell bietet Unterstützung für <em>Erweiterungen</em> in Form von zusätzlichen Bibliotheken, mit deren Hilfe zusätzliche Funktionen wie beispielsweise neue Veröffentlichungsplattformen oder neue Diaschau-Übergänge bereit gestellt werden.</p>
        
        <p>Öffnen Sie <guiseq><gui>Bearbeiten</gui><gui>Einstellungen</gui></guiseq>, um eine Liste aller installierten Erweiterungen zu sehen. Klicken Sie im Fenster <gui>Einstellungen</gui> auf den Reiter <gui>Erweiterungen</gui>. Es wird daraufhin eine Liste aller derzeit installierten Erweiterungen angezeigt. Neben jeder Erweiterung befindet sich ein Ankreuzfeld, mit dessen Hilfe Sie die Erweiterung ein- und ausschalten können.</p>
        
        <note style="advanced"><p>Eine vollständige Dokumentation zum Entwickeln neuer Erweiterungen findet sich unter <link href="http://redmine.yorba.org/projects/shotwell/wiki/ShotwellArchWritingPlugins">http://redmine.yorba.org/projects/shotwell/wiki/ShotwellArchWritingPlugins</link></p></note>
    
</page>
