<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="other-multiple" xml:lang="de">

    <info>
        <link type="guide" xref="index#other"/>
        <desc>Sie können Shotwell mit einer anderen Fotobibliothek öffnen, wenn Sie die Befehlszeile verwenden.</desc>
        
        <link type="next" xref="other-files"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009, 2016-2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2014, 2016, 2017</mal:years>
    </mal:credit>
  </info>

	<title>Mehrere Bibliotheken</title>

<p>Shotwell speichert normalerweise seine Datenbank und Vorschaubilder der Fotos im Ordner <file>~/.shotwell</file>. Dieser Ordner enthält keine Fotos, sondern lediglich eine Datenbank mit einer Liste aller Fotos in der Shotwell-Bibliothek.</p>

<p>Als erweitertes Funktionsmerkmal können Sie mehrere Shotwell-Bibliotheken mit jeweils eigenen Fotos haben. Dabei benötigt jede der Bibliotheken ihren eigenen Datenbankordner. Um Shotwell mit einer alternativen Bibliothek zu öffnen, geben Sie in der Befehlszeile den entsprechenden Datenbankordner wie folgt an:</p>

<screen>
shotwell -d [Bibliothek-Ordner]
</screen>

</page>
