<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-date-time" xml:lang="el">

    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Change the date and time of photos if those details are incorrect.</desc>

        <link type="next" xref="edit-enhance"/>
    </info>

	<title>Adjust the date and time of photos</title>

<p>To adjust the date and time of photos, select the photos you would like to adjust, choose <guiseq><gui>Photos</gui><gui>Adjust Date and Time...</gui></guiseq> and select a new date and time.</p>

<p>Αν αλλάζετε την ημερομηνία και την ώρα πολλών φωτογραφιών μονομιάς, μπορείτε να επιλέξετε να μετατοπίσετε όλες τις φωτογραφίες κατά τον ίδιο χρόνο ή να ορίσετε όλες τις φωτογραφίες στην ίδια ώρα.</p>

<p>By default, the date and time are only changed inside Shotwell. You can also choose to modify the date and time in the original file, but this cannot be undone once you exit Shotwell.</p>

</page>
