<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-rotate" xml:lang="el">

    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Πατήστε το πλήκτρο <gui>Περιστροφή</gui>, ή επιλέξτε μια από τις εντολές στο μενού <gui>Φωτογραφία</gui>.</desc>
        
        <link type="next" xref="edit-straighten"/>
    </info>

	<title>Περιστροφή ή αναστροφή φωτογραφίας</title>

    <p>Μπορείτε να περιστρέψετε τις φωτογραφίες σας αριστερά και δεξιά (δεξιόστροφα και αριστερόστροφα) με το πλήκτρο <gui>Περιστροφή</gui> στην εργαλειοθήκη των περισσότερων προβολών. Μπορείτε επίσης να κάνετε μια κατοπτρική εικόνα κάθε φωτογραφίας.</p>
    
    <p>Για να περιστρέψετε δεξιά, πατήστε το πλήκτρο <gui>Περιστροφή</gui>. Για να περιστρέψετε αριστερά, πατήστε και κρατήστε πατημένο το πλήκτρο <key>Ctrl</key> και έπειτα πατήστε το πλήκτρο. Και οι δυο εντολές είναι διαθέσιμες επίσης στο μενού <gui>Φωτογραφίες</gui>. Εναλλακτικά, χρησιμοποιήστε τις παρακάτω συντομεύσεις πληκτρολογίου:</p>
    <list>
    <item><p>αριστερή περιστροφή: <keyseq><key>Shift</key><key>Ctrl</key><key>R</key></keyseq> ή <key>[</key></p></item>
    <item><p>δεξιά περιστροφή: <keyseq><key>Ctrl</key><key>R</key></keyseq> ή <key>]</key></p></item>
    </list>
    <p>Για να δημιουργήσετε μια κατοπτρική εικόνα μιας φωτογραφίας, χρησιμοποιήστε την εντολή <gui>Οριζόντια αναστροφή</gui> στο μενού <gui>Φωτογραφίες</gui>. Για να αναστρέψετε μια εικόνα κάθετα, χρησιμοποιήστε την εντολή <gui>Κάθετη αναστροφή</gui> στο ίδιο μενού.</p>
    
    <note>
     <p>Αν επιλέξετε περισσότερες από μία εικόνες, μπορείτε να τις περιστρέψετε όλες ταυτόχρονα.</p>
    </note>
    
</page>
