<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-crop" xml:lang="el">

    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Βελτιώστε τη σύνθεση μιας φωτογραφίας περικόπτοντας τμήματά της.</desc>
        
        <link type="next" xref="edit-external"/>
    </info>

   <title>Περικοπή</title>

    <p>Για να μειώσετε την περιοχή μιας φωτογραφίας και να συγκεντρώσετε την προσοχή του θεατή σε ένα μικρότερο τμήμα της, χρησιμοποιήστε το εργαλείο περικοπής. Το εργαλείο περικοπής είναι διαθέσιμο μόνο σε πλήρες παράθυρο ή κατάσταση πλήρους οθόνης.</p>

<steps>
 <item>
  <p>Διπλοπατήστε μια φωτογραφία για να μπείτε στην κατάσταση πλήρους παραθύρου, έπειτα πατήστε το πλήκτρο <gui>Περικοπή</gui> στην εργαλειοθήκη.</p>
 </item>
 <item>
  <p>Ένα λευκό πλαίσιο, το ορθογώνιο περικοπής, θα εμφανιστεί πάνω από τη φωτογραφία. Το πιο φωτεινό τμήμα της φωτογραφίας μέσα στο ορθογώνιο περικοπής απεικονίζει πώς θα μοιάζει η φωτογραφία όταν την περικόψετε.</p>
 </item>
 <item>
  <p>Αν τοποθετήσετε τον δρομέα σας στη μέση του πλαισίου, μπορείτε να μετακινήσετε το πλαίσιο ολόγυρα. Αν σύρετε τις άκρες του πλαισίου, μπορείτε να ρυθμίσετε το μέγεθός της. Καθώς μετακινείτε και ρυθμίζετε το πλαίσιο περικοπής, θα δείτε τέσσερις γραμμές να εμφανίζονται μέσα της, όπως ένα πλέγμα τρίλιζας. Αυτές είναι γραμμές του <em>κανόνα των τρίτων</em>.</p>
  <p>Μπορείτε επίσης να περιορίσετε το πλαίσιο περικοπής σε ένα από τα πολλά συνηθισμένα μεγέθη. Επιλέξτε ένα μέγεθος από τον πτυσσόμενο κατάλογο που ταιριάζει τις ανάγκες σας. Αν πατήσετε το κουμπί αναστροφής δίπλα του, ο προσανατολισμός του περιορισμού θα αλλάξει (από οριζόντιο σε κάθετο).</p>
 </item>
 <item>
  <p>When you're happy with your crop outline, apply it by pressing the <gui>Crop</gui> button. Shotwell will display the cropped photo.</p>
 </item>
 <item>
  <p>Αν αλλάξετε γνώμη, πατήστε το πλήκτρο <gui>Περικοπή</gui> ξανά και μικρορυθμίστε την περικοπή.</p>
  <p>Αν πατήσετε <gui>Άκυρο</gui> αντί για <gui>Εφαρμογή</gui>, το Shotwell θα επιστρέψει στις διαστάσεις πριν την περικοπή της φωτογραφίας.</p>
 </item>
</steps>

<section id="rule-of-thirds">
 <title>Τι είναι ο κανόνας των τρίτων;</title>
 <p>Ο <em>κανόνας των τρίτων</em> σας βοηθά να επιλέξετε μια καλύτερη σύνθεση για μια φωτογραφία.</p>
 <p>Θεωρήστε ότι η σκηνή διαιρείται σε ένα πλέγμα 3x3 από δύο ισαπέχουσες κάθετες γραμμές και δύο ισαπέχουσες οριζόντιες γραμμές. Σύμφωνα με τον κανόνα, είναι πιο πιθανό να πάρετε μια καλύτερη σύνθεση αν στοιχίσετε τα μεγάλα γνωρίσματα (όπως τον ορίζοντα, ή το σώμα του ατόμου) με μια από αυτές τις γραμμές. Προσέχοντας τον τρόπο που τα γνωρίσματα ρέουν από το ένα μέρος του πλέγματος στο άλλο μπορεί επίσης να βοηθήσει.</p>
 <p>Η περικοπή μιας φωτογραφίας έτσι ώστε να συμφωνεί με τον κανόνα των τρίτων καταλήγει συχνά σε μια περισσότερο ελκυστική οπτικά εικόνα.</p>
 <media type="image" src="figures/crop_thirds.jpg">
  <p>Περικοπή μιας φωτογραφίας, χρησιμοποιώντας τον "κανόνα των τρίτων" για να βελτιώσετε τη σύνθεση.</p>
 </media>
</section>
</page>
