<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="import-file" xml:lang="el">

    <info>
        <link type="guide" xref="index#import"/>
        <desc>Για να εισάγετε φωτογραφίες που είναι ήδη αποθηκευμένες στον υπολογιστή σας.</desc>
        
        <link type="next" xref="import-camera"/>
    </info>

	<title>Εισαγωγή από τον σκληρό δίσκο σας</title>

    <p>Για να εισάγετε αρχεία φωτογραφιών από τον σκληρό δίσκο σας στο Shotwell, μεταφέρτε τα απλά από τον περιηγητή αρχείων σας στο παράθυρο Shotwell.</p>
    
    <p>Alternatively, click <guiseq><gui>File</gui><gui>Import From Folder...</gui></guiseq> and select the folder containing the photos you want to import. If you do not want Shotwell to recurse into subfolders while importing, you can uncheck the <gui>Recurse Into Subfolders</gui> checkbox on the bottom of the file dialog.</p>
    
    <p>Το Shotwell θα ρωτήσει αν θέλετε να αντιγράψετε τα αρχεία φωτογραφίας στον φάκελο βιβλιοθήκης (συνήθως αυτός είναι ο φάκελος <file>Pictures</file> στον προσωπικό σας κατάλογο) ή να τα εισάγετε επί τόπου χωρίς αντιγραφή των αρχείων.</p>
    
    <p>Αν κρατάτε πατημένο το <key>Ctrl</key> κατά τη μεταφορά των φωτογραφιών, το Shotwell θα αντιγράψει τις φωτογραφίες στον φάκελο βιβλιοθήκης χωρίς ειδοποίηση. Παρόμοια, αν κρατάτε πατημένα τα <keyseq><key>Ctrl</key><key>Shift</key></keyseq> κατά τη μεταφορά φωτογραφιών, το Shotwell θα εισάγει τις φωτογραφίες χωρίς να τις αντιγράψει.</p>

    <p>Αφού συμπληρωθεί η εισαγωγή, μπορείτε να επιλέξετε <gui>Τελευταία εισαγωγή</gui> στην πλευρική στήλη για να δείτε όλες τις φωτογραφίες εισηγμένες με επιτυχία. Ο κατάλογος συμβάντων θα εμφανίσει επίσης νέες καταχωρίσεις για τις ημερομηνίες που αντιστοιχούν στις εισηγμένες φωτογραφίες.</p>

</page>
