<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="delete" xml:lang="el">

    <info>
        <link type="guide" xref="index#organize"/>
        <desc>Αφαίρεση φωτογραφιών από τη βιβλιοθήκη, ή διαγραφή τους από τον υπολογιστή σας πλήρως.</desc>
        
        <link type="next" xref="search"/>
    </info>

	<title>Αφαίρεση και διαγραφή φωτογραφιών</title>

    <p>Μπορείτε να αφαιρέσετε φωτογραφίες από τη βιβλιοθήκη σας και μπορείτε πρόσθετα να τις διαγράψετε πλήρως από τον σκληρό σας δίσκο.</p>
<media type="image" src="figures/trash_process.png"><p>Διαγραφή διεργασίας</p></media>
<p>Αυτό το διάγραμμα εμφανίζει πώς μια φωτογραφία, όταν διαγράφεται, μπαίνει πρώτα στα απορρίμματα του Shotwell. Αν την διαγράψετε από τα απορρίμματα του Shotwell, μπαίνει στα απορρίμματα του υπολογιστή σας. Αν την διαγράψετε από τα απορρίμματα του υπολογιστή σας η φωτογραφία διαγράφεται οριστικά και αμετάκλητα από τον υπολογιστή σας.</p>
<section id="delete-remove">
	<title>Αφαίρεση φωτογραφιών από τη βιβλιοθήκη</title>
    <p>Επιλέξτε τις φωτογραφίες που θέλετε να αφαιρέσετε και επιλέξτε <guiseq><gui>Επεξεργασία</gui><gui>Μετακίνηση στα απορρίμματα</gui></guiseq>. (Μπορείτε επίσης να πατήσετε το πλήκτρο <key>Διαγραφή</key>.) Οι φωτογραφίες θα μετακινηθούν από τη βιβλιοθήκη σας στα απορρίμματα του Shotwell.</p>
    <p>Αν θέλετε να αφαιρέσετε φωτογραφίες από το Shotwell χωρίς να τις περάσετε μέσα από τα απορρίμματα, επιλέξτε απλά τις φωτογραφίες που θα αφαιρεθούν και επιλέξτε <guiseq><gui>Επεξεργασία</gui><gui>Αφαίρεση από τη βιβλιοθήκη</gui></guiseq>. Τα αρχεία φωτογραφιών θα αφεθούν επί τόπου στον δίσκο.</p>
</section>

<section id="delete-empty">
	<title>Άδειασμα ή επαναφορά του φακέλου απορριμμάτων</title>
    <p>Επιλέξτε την καταχώριση απορριμμάτων στην πλευρική στήλη και το Shotwell θα εμφανίσει όλες τις φωτογραφίες που έχετε σημειώσει για αφαίρεση ή διαγραφή. Στην προβολή απορριμάτων, οι επόμενες εντολές είναι διαθέσιμες:</p>
    <terms>
    <item><title>Διαγραφή</title><p>Διαγραφή των επιλεγμένων φωτογραφιών από τον φάκελο απορριμμάτων.</p></item>
    <item><title>Επαναφορά</title><p>Επαναφορά των επιλεγμένων φωτογραφιών στο Shotwell.</p></item>
    <item><title>Άδειασμα απορριμάτων</title><p>Διαγραφή όλων των φωτογραφιών από τον φάκελο απορριμμάτων.</p></item>
    </terms>
</section>    
    
<section id="delete-trash">
	<title>Διαγραφή ή άδειασμα απορριμμάτων</title>
    <p>Όταν διαγράφετε αρχεία από τον φάκελο απορριμμάτων ή αδειάζετε τον φάκελο απορριμμάτων, θα σας δοθούν οι επόμενες επιλογές:</p>
    <terms>
    <item><title>Μόνο αφαίρεση</title><p>Αφαιρεί τις φωτογραφίες από τη βιβλιοθήκη, αλλά τις αφήνει στη θέση τους στον υπολογιστή.</p></item>
    <item><title>Αρχείο απορριμμάτων</title><p>Αφαιρεί τις φωτογραφίες από τη βιβλιοθήκη και τις διαγράφει από τον υπολογιστή.</p></item>
    <item><title>Άκυρο</title><p>Καμία ενέργεια.</p></item>
    </terms>    
</section>
    
</page>
