<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="import-file" xml:lang="es">

    <info>
        <link type="guide" xref="index#import"/>
        <desc>Importar fotos que ya están en el equipo.</desc>
        
        <link type="next" xref="import-camera"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marina Prado</mal:name>
      <mal:email>mapraro93@hotmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014 - 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Dámaris Letelier</mal:name>
      <mal:email>dam.letelier@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

	<title>Importar desde su disco duro</title>

    <p>Para importar fotos desde su disco duro a Shotwell, solo debe arrastrarlas desde su explorador a la ventana de Shotwell.</p>
    
    <p>Alternatively, click <guiseq><gui>File</gui><gui>Import From Folder...</gui></guiseq> and select the folder containing the photos you want to import. If you do not want Shotwell to recurse into subfolders while importing, you can uncheck the <gui>Recurse Into Subfolders</gui> checkbox on the bottom of the file dialog.</p>
    
    <p>Shotwell le preguntará si quiere copiar los archivos de fotos en su carpeta de la biblioteca (la carpeta de la biblioteca está normalmente en la carpeta <file>Imágenes</file> en su carpeta local) o importarlos en su lugar sin copiar los archivos.</p>
    
    <p>Si mantiene pulsada la tecla <key>Ctrl</key> mientras arrastra las fotos, Shotwell copiará las fotos en la carpeta de la biblioteca sin preguntar. Del mismo modo, si mantiene presionadas las teclas <keyseq><key>Ctrl</key><key>Shift</key></keyseq>, Shotwell importará las fotos sin copiarlas.</p>

    <p>Una vez finalizada la importación, puede seleccionar <gui>Última importación</gui> en la barra lateral para ver todas las fotos importadas correctamente. La lista de Eventos también mostrará nuevas entradas para las fechas correspondientes a las fotos importadas.</p>

</page>
