<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-sidebar" xml:lang="es">

    <info>
        <link type="guide" xref="index#view"/>
        <desc>La barra lateral de la izquierda de la ventana lista varios tipos de vistas de su biblioteca.</desc>
        
        <link type="seealso" xref="event"/>
        <link type="seealso" xref="tag"/>
        <link type="seealso" xref="flag"/>
        <link type="seealso" xref="search#savedsearch"/>
        <link type="seealso" xref="import-file"/>
        <link type="seealso" xref="import-memorycard"/>
        <link type="seealso" xref="import-camera"/>
        
        <link type="next" xref="view-information"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marina Prado</mal:name>
      <mal:email>mapraro93@hotmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014 - 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Dámaris Letelier</mal:name>
      <mal:email>dam.letelier@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

	<title>La barra lateral</title>

<p>La barra lateral a la izquierda de la ventana de Shotwell lista varias vistas de su biblioteca. Aunque puede ver muchas vistas de la misma foto, solo se almacena una en su disco duro</p>

<p>La vista <gui>Última importación</gui> lista sus últimas fotos importadas no importa si estas se importaron de F-Spot, su cámara, una tarjeta de memoria o su disco duro.</p>

<p>La opción <gui>Marcada</gui> lista todas las fotos que ha marcado anteriormente.</p>

<p>La <gui>Búsqueda guardada</gui> le permite ordenar su biblioteca bajo diferentes criterios.</p>

<p>La carpeta de <gui>Eventos</gui> lista todos los eventos en su biblioteca.Un evento es un grupo de fotos que se tomaron aproximadamente al mismo tiempo.</p>

<p>La carpeta <gui>Etiquetas</gui> lista todas las etiquetas que ha asignado a sus fotos. Las fotos pueden tener múltiples etiquetas relacionadas con las mismas. Cuando posiciona el cursor sobre el nombre de una etiqueta en la barra lateral, podrá ver todas las fotos asociadas a esa etiqueta.</p>

</page>
