<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="formats" xml:lang="cs">

    <info>
        <link type="guide" xref="index"/>
        <desc>Shotwell podporuje soubory s formáty fotografií JPEG, PNG, TIFF, BMP a RAW a některé videosoubory.</desc>
        
        <link type="next" xref="running"/>
    </info>

	<title>Podporované formáty fotografií a videí</title>

   <p>Shotwell podporuje soubory s fotografiemi ve formátech JPEG, PNG, TIFF, BMP a <link xref="other-raw">RAW</link>. Zatím nepodporuje další formáty, jako je třeba GIF.</p>

<p>Podpora RAW je v aplikaci Shotwell prozatím omezená. Když si zobrazíte surovou fotografii RAW, zobrazí se vám ve skutečnosti JPEG odvozený z RAW, ne přímo RAW. Navíc, propojovací roura k editoru není plně 16bitová – upravované fotografie můžete exportovat jen jako 8bitové soubory. K exportu mohou být použity všechny podporované formáty (JPEG, PNG, TIFF, BMP).</p>

<p>Více informací o formátu fotografií RAW v aplikaci Shotwell najdete v oddíle <link xref="other-raw">RAW</link>.</p>

<p>Shotwell podporuje také videosoubory v libovolném formátu, který podporuje multimediální knihovna GStreamer na systému, ve kterém Shotwell běží. Typicky to představuje mimo jiné následující formáty:</p>
<list>
<item><p>Formáty kontejnerů: Ogg, QuickTime, MP4, AVI.</p></item>
<item><p>Kodeky: Theora, Quicktime, MPEG-4, Motion JPEG. <em>Upozorňujeme, že některé operační systémy nemusí obsahovat všechny uvedené kodeky z důvodů právních nebo licenčních omezení.</em></p></item>
</list>

<p>Shotwell podporuje jak fotografie, tak videa, ale pro zjednodušení s v tomto dokumentu na většině míst používá jen výraz „fotografie“. Ale většina operací se v aplikaci Shotwell dá použít jak u fotografií, tak u videí. Například události, označování, hodnocení, štítky a zveřejňování fungují u fotografií i videí.</p>

</page>
