<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="share-send" xml:lang="cs">

    <info>
        <link type="guide" xref="index#share"/>
        <desc>Jak odeslat fotografie přes e-mail, rychlou komunikaci a dalšími způsoby.</desc>
        
        <link type="next" xref="share-background"/>
    </info>

	<title>Odesílání fotografií</title>

    <p>Shotwell může odesílat fotografie pomocí mechanizmu Odeslat do v pracovním prostředí GNOME. Ten umožňuje odesílat přes e-mail, rychlou komunikaci a dalšími způsoby.</p>
    <p>Když chcete fotografie odeslat, vyberte je v aplikaci Shotwell a zvolte <guiseq><gui>Soubor</gui> <gui>Odeslat…</gui></guiseq> nebo klikněte na fotografie pravým tlačítkem a zvolte <gui>Odeslat…</gui> v kontextové nabídce. Objeví se dialogové okno <gui>Odeslání</gui>, ve kterém si můžete zvolit způsob odeslání souborů (jako je e-mail nebo rychlá komunikace) a cíl. Volitelně si můžete vybrat, jestli chcete soubory v komprimovaném formátu.</p>
    
</page>
