<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-sidebar" xml:lang="cs">

    <info>
        <link type="guide" xref="index#view"/>
        <desc>Postranní panel na levé straně okna vypisuje různá zobrazení vaší knihovny.</desc>
        
        <link type="seealso" xref="event"/>
        <link type="seealso" xref="tag"/>
        <link type="seealso" xref="flag"/>
        <link type="seealso" xref="search#savedsearch"/>
        <link type="seealso" xref="import-file"/>
        <link type="seealso" xref="import-memorycard"/>
        <link type="seealso" xref="import-camera"/>
        
        <link type="next" xref="view-information"/>
    </info>

	<title>Postranní panel</title>

<p>Postranní panel na levé straně okna Shotwell vypisuje různá zobrazení vaší knihovny. Ačkoliv můžete vidět tu samou fotografii ve více zobrazeních, na disku je uchována jen v jedné kopii.</p>

<p>V zobrazení <gui>Poslední import</gui> jsou uvedeny fotografie, které byly naimportovány jako poslední, bez ohledu na to, zda z aplikace F-Spot, z fotoaparátu, z paměťové karty nebo z pevného disku.</p>

<p>V <gui>Označeno</gui> jsou uvedeny všechny fotografie, které jste již dříve označili.</p>

<p><gui>Uložená hledání</gui> umožňují třídit vaši knihovnu podle řady kritérií.</p>

<p>Ve složce <gui>Události</gui> jsou uvedeny všechny události z vaší knihovny. Událost je skupina fotografií, které byly pořízeny přibližně ve stejnou dobu.</p>

<p>Ve složce <gui>Štítky</gui> jsou uvedeny všechny štítky, které jste fotografiím přiřadili. Každá fotografie může mít přiřazeno více štítků. Když kliknete na název štítku v postranním panelu, uvidíte všechny fotografie, které mají takovýto štítek přiřazený.</p>

</page>
